<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form asp-action="Guardar" asp-controller="Usuario" method="post"> 
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre">
        </div>
        <div>
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido">
        </div>
        <div>
            <label for="motivo">Motivo de Contacto</label>
            <input type="text" name="motivo">
        </div>
        <div>
            <label for="mensaje">Mensaje</label>
            <textarea type="text" name="mensaje"></textarea>
        </div>
        <div>
            <button class="btn btn-success">ENVIAR</button>
        </div>
    </form>
</body>
</html>